# Only include gzipped csv files (.csv.gz)
contours/*.csv

# Exclude serialized data in hdf5 format
serialized

# Various
tmp/

# Python
env/
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store

# R
.RHistory

# A lot of figures...
figures/fig-umap*

fetch.sh