# Only include gzipped csv files (.csv.gz)
contours/*.csv

# Exclude serialized data in hdf5 format
serialized
excluded

# Various
tmp/

# Python
env/
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store
*.pyc

# R
.RHistory

# A lot of figures...
figures/umap_plot
figures/umap_sideplot

fetch.sh
Trash