numpy==1.22.4
pandas==1.4.3
matplotlib==3.5.2
seaborn==0.11.2

h5py==3.7.0
scikit-learn==0.22.1
tslearn==0.5.2 

chant21===0.4.6
music21==5.7.2

unidip==0.1.1
umap-learn==0.5.3
tableone==0.7.10

# Development
jupyter==1.0.0
jupyterlab==1.2.6
black==22.6.0